In [1]:
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import mean_squared_error
from math import sqrt
import random
import numpy as np
random.seed(0)
#Fetching the dataset
import pandas as pd

In [2]:
data=pd.read_csv('diabetes.csv')

In [3]:
data.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic
0,1354778,0,171,80,34,23,43.509726,1.213191,21,0
1,1147438,8,92,93,47,36,21.240576,0.158365,23,0
2,1640031,7,115,47,52,35,41.511523,0.079019,23,0
3,1883350,9,103,78,25,304,29.582192,1.282870,43,1
4,1424119,1,85,59,27,35,42.604536,0.549542,22,0

In [4]:
#Randomly replace 40% of the first column with NaN values
column=data['PlasmaGlucose'];
print(column.size)

15000

In [5]:
column.shape[0]

15000

In [6]:
missing_pct=int(column.size*0.4)
i=[random.choice(range(column.shape[0]))for _ in range(missing_pct)]
column[i]=np.NaN
print(column.shape[0])

15000

C:\Users\yadav\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [7]:
column.head()

0    171.0
1      NaN
2      NaN
3      NaN
4      NaN
Name: PlasmaGlucose, dtype: float64

In [8]:
data

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic
0,1354778,0,171.0,80,34,23,43.509726,1.213191,21,0
1,1147438,8,NaN,93,47,36,21.240576,0.158365,23,0
2,1640031,7,NaN,47,52,35,41.511523,0.079019,23,0
3,1883350,9,NaN,78,25,304,29.582192,1.282870,43,1
4,1424119,1,NaN,59,27,35,42.604536,0.549542,22,0
5,1619297,0,82.0,92,9,253,19.724160,0.103424,26,0
6,1660149,0,NaN,47,19,227,21.941357,0.174160,21,0
7,1458769,0,NaN,87,43,36,18.277723,0.236165,26,0
8,1201647,8,NaN,95,33,24,26.624929,0.443947,53,1
9,1403912,1,72.0,31,40,42,36.889576,0.103944,26,0
10,1943830,1,NaN,86,11,58,43.225041,0.230285,22,0
11,1824483,3,NaN,96,31,36,21.294479,0.259020,23,0
12,1848869,5,114.0,101,43,70,36.495320,0.079190,38,1
13,1669231,7,110.0,82,16,44,36.089293,0.281276,25,0
14,1683688,0,148.0,58,11,179,39.192076,0.160829,45,0
15,1738587,3,109.0,77,46,61,19.847312,0.204345,21,1
16,1884264,3,NaN,64,25,51,29.044573,0.589188,42,1
17,1485251,1,NaN,53,15,226,29.786192,0.203824,41,1
18,1536832,8,NaN,39,32,164,21.230996,0.089363,25,0
19,1438701,3,NaN,100,25,289,42.185720,0.175593,43,1
20,1359971,0,NaN,84,8,324,21.866260,0.258332,33,0
21,1631185,0,NaN,95,7,276,42.500887,0.083558,24,0
22,1061812,1,NaN,55,18,165,36.628249,0.171620,23,0
23,1218879,1,124.0,82,42,266,34.985772,0.083335,25,0
24,1940297,2,NaN,81,46,146,34.534082,0.693502,55,1
25,1710438,9,104.0,68,42,40,51.855401,0.182938,21,1
26,1139740,6,NaN,91,31,14,45.274113,0.707163,21,1
27,1398321,3,163.0,87,42,428,18.571188,0.777016,25,0
28,1975790,0,119.0,50,52,16,45.391121,0.270567,22,0
29,1721341,0,70.0,64,9,16,20.985223,0.137393,33,0
...,...,...,...,...,...,...,...,...,...,...
14970,1927129,9,86.0,82,43,26,37.087691,0.589563,22,0
14971,1214865,2,97.0,81,51,381,18.673142,0.243281,37,1
14972,1350626,3,109.0,62,22,63,39.215998,0.509332,44,1
14973,1398288,1,NaN,71,16,32,46.382806,0.107268,21,0
14974,1752911,9,169.0,93,40,58,21.856319,0.792317,55,1
14975,1761875,8,68.0,67,7,224,38.903552,0.133446,22,0
14976,1043014,1,79.0,80,35,315,32.512336,0.182541,45,0
14977,1166018,0,NaN,95,29,58,47.994032,0.203845,62,1
14978,1591646,8,NaN,67,39,387,20.858520,0.899682,22,1
14979,1694091,6,75.0,62,23,186,20.642572,0.745377,43,0
14980,1552787,9,56.0,48,35,21,19.321562,0.614377,23,0
14981,1043211,0,87.0,42,12,164,31.037803,0.190068,24,0
14982,1886535,6,86.0,73,10,412,38.204487,0.199657,21,1
14983,1020389,8,113.0,66,43,214,19.138671,0.143024,22,1
14984,1733877,8,119.0,70,21,63,51.877294,0.172106,44,1
14985,1579507,0,NaN,55,7,206,50.329863,0.102772,25,0
14986,1562505,6,NaN,76,15,80,36.680032,0.200504,22,1
14987,1840388,2,81.0,79,69,20,35.093644,0.766683,47,1
14988,1331925,2,NaN,67,22,72,30.715694,0.129056,21,1
14989,1317369,6,NaN,90,38,128,20.647840,0.265326,43,0
14990,1220763,5,NaN,83,31,60,49.004793,0.187397,53,1
14991,1603490,0,114.0,53,34,40,44.760534,0.143487,23,0
14992,1202654,3,48.0,60,24,81,29.417154,0.159605,42,1
14993,1165919,1,NaN,59,21,182,19.766514,0.167280,53,0
14994,1453189,0,72.0,99,32,32,20.932808,0.545038,22,0
14995,1490300,10,NaN,60,46,177,33.512468,0.148327,41,1
14996,1744410,2,73.0,66,27,168,30.132636,0.862252,38,1
14997,1742742,0,93.0,89,43,57,18.690683,0.427049,24,0
14998,1099353,0,132.0,98,18,161,19.791645,0.302257,23,0
14999,1386396,3,NaN,65,47,512,36.215437,0.147363,34,1

In [9]:
# Convert dataset into numpy array
X = (data.iloc[:, :-1]).values
Y = (data.iloc[:,-1]).values

In [10]:
data2=pd.DataFrame(Y)
data2

In [11]:
#Fit an imputer model on the train data
from predictive_imputer import predictive_imputer
imputer = predictive_imputer.PredictiveImputer(f_model='RandomForest')
X = imputer.fit(X).transform(X)

C:\Users\yadav\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:66: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [12]:
data1=pd.DataFrame(X)
data1

In [13]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=1) # 70% training and 30% test
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8935555555555555

In [15]:
y_pred=pd.DataFrame(y_pred)
y_pred

      0
0     0
1     1
2     1
3     0
4     0
5     0
6     1
7     0
8     0
9     0
10    1
11    1
12    0
13    0
14    0
15    0
16    1
17    0
18    1
19    0
20    0
21    1
22    0
23    1
24    1
25    0
26    0
27    0
28    0
29    0
...  ..
4470  1
4471  0
4472  0
4473  0
4474  0
4475  1
4476  1
4477  0
4478  1
4479  0
4480  0
4481  0
4482  0
4483  1
4484  0
4485  0
4486  1
4487  1
4488  1
4489  1
4490  0
4491  1
4492  0
4493  0
4494  0
4495  0
4496  0
4497  0
4498  0
4499  0

[4500 rows x 1 columns]

In [16]:
# Import train_test_split function
from sklearn.model_selection import train_test_split
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3,random_state=1000) # 70% training and 30% test
#Import Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
#Train the model using the training sets
gnb.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = gnb.predict(X_test)
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7402222222222222